{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
  <p>Started at: {{ sitting.started_at }} </p>
  <p>Finished at: {{ sitting.finished_at }} </p>
  <p>Activities : {{ sitting.activities.all|join:", " }} </p>
  <p>Done By: {{ sitting.done_by.name }}</p>
</div>

<!-- Display 'Edit' and 'Delete' buttons -->
<br />
{% if user.is_authenticated and sitting.created_by == request.user %}
<p>
<a href="{% url 'managers:sitting_update' sitting.pk %}" class="btn btn-outline-dark"> Update </a> 
<a href="{% url 'managers:sitting_delete' sitting.pk %}" class="btn btn-outline-danger"> Delete </a>
</p>
{% endif %}

{% endblock %}



